*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #E9EFF2;
}

.hidden{
    display: none;
}

#app{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#imageSelectBlock{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 10%;
    overflow: hidden;
}

#imageThumbnail{
    width: 8rem;
    height: 8rem;
}

#mixButtons{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}

button{
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 10%;
    border: none;
    background-color: #F2D0D1;
    color: #E9EFF2;
    transition: box-shaddow 0.5s;
}

button:hover{
    box-shadow:0.1rem 0.1rem 0.3rem rgba(166,166,149,0.3);
}

#timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

#timer img{
    filter: invert(60%) contrast(500%) sepia(200%) grayscale(100%);
}

#board{
    margin-top: 1rem;
    background-color: #F2F2D0;
    border: 0.1rem solid #F2D0D1;
    width: 30rem;
    height: 30rem;
    position: relative;
    border-radius: 10%;
    overflow: hidden;
}

#board .block {
    position: absolute;
    background-color:#F2F2D0;
    background-repeat: no-repeat;
}

#overlayPanel{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(166,166,149,0.3);
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#panel{
    border-radius: 10%;
    background-color: #E9EFF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#panel p {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #8F9DA6;
}

#panel input {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #8F9DA6;
    background-color: #F2F2D0;
    border: 0.1rem solid #F2D0D1;
}

#panel button{
    margin: 1rem;
    font-size: 3rem;
}

#records{
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: absolute;
    top: 0;
    align-items: start;
}

#records button{
    margin-left: 0;
    border: 0.1rem solid #F2D0D1;
}

#displayRecords{
    font-size: 4rem;
    background-color:#F2F2D0;
    color: #F2D0D1;
}

#recordsPanel {
    background-color:#F2F2D0;
    min-height: 7rem;
    padding: 1rem;
    border: 0.1rem solid #F2D0D1;
    border-radius: 2%;
}

#dividersSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.results .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row p{
    font-size: 1rem;
    color: #8F9DA6;
    margin: 0.4rem;
}

.nickP{
    min-width: 9rem;
}